__pycache__/*
/app/__pycache__/*
/app/main/__pycache__/*
/app/gallery/__pycache__/*
/app/mailservice/__pycache__/*
migrations/__pycache__/*
migrations/versions/__pycache__/*

venv/*
env/*
.env
*.jpg
*.png
*.pyc
*.db