[unit]
Description=Gunicorn instance to serve labsite
After=network.target

[Service]
User=web_host
Group=www-data
WorkingDirectory=/home/web_host/labsite
Enviroment="PATH=/home/web_host/labsite/venv/bin"
ExecStart=/home/web_host/labsite/venv/bin/gunicorn --workers 3 --bind unix:labsite.sock -m 007 labsite:app

[Install]
WantedBy=multi-user.target
