
<div class="card mb-3 staff_card" >
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="{{ person.Image }}" class="card-img" alt="Image">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h4 class="card-title">{{ person.SecondName}}  {{ person.FirstName}} {{ person.MiddleName}}</h5>
                <h5 class="card-text">
                    {{ person.Position }}
                </h5>
                <p class="card-text">
                    {{ person.Info }}
                </p>
            </div>
        </div>
    </div>
</div>