{% extends "base.html" %}
{% block active_admin %} active {% endblock %}

{% block content%}
    
<nav class="navbar navbar-expand-md  navbar-dark bg-dark">
   
<div id="navbar" class="collapse navbar-collapse justify-content-center">
    <ul class="nav navbar-nav d-block d-md-none">
        <div class="dropdown-divider"></div>
        <li class="nav-item ">
            <a class="nav-link disabled navbar-collapse-md" style="color:green; font-weight: bold;">Панель администратора</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <div class="dropdown-divider"></div>
        <li class="nav-item">
            <a class="nav-link {% block active_admin_index %}{% endblock %}" href="{{url_for('admin.index')}}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block active_admin_random %}{% endblock %}" href="{{url_for('admin.random')}}">Random</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block active_admin_news %}{% endblock %}" href="{{url_for('admin.news')}}">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block active_admin_gallery %}{% endblock %}" href="{{url_for('gallery.admin_gallery')}}">Галерея</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block active_admin_carousel %}{% endblock %}" href="{{url_for('admin.carousel')}}">Карусель</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block active_admin_response %}{% endblock %}" href="{{url_for('admin.response')}}">Обратная связь</a>
        </li>
    </ul>
</div>

</nav>

{% block admin_content %}
{% endblock %}

  
{% endblock %}