{% extends "base.html" %}

{% block title %}
edit
{% endblock %}

{% block content %}
<div class="conteiner" >
  <div class="col-xl-6" style="margin: 10px auto; min-height: 100vh;">
    <h2 style="text-align: center;"> Редактор </h2>
    <div style="border:1px solid black; border-radius:10px; padding: 5px;">
    <form enctype="multipart/form-data" action="" method='post' novalidate >
        <div class="form-group">
          {{ form.csrf_token() }}

        <div class="form-group">
            {{ form.name.label }}
            {% with messages = get_flashed_messages(category_filter=["error_ref"]) %}
                {% for  message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endwith %}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.comment.label }}
            {% with messages = get_flashed_messages(category_filter=["error_ref"]) %}
                {% for  message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endwith %}
            {{ form.comment(class="form-control") }}
        </div>


        <div class="form-group">
        <div style="text-align: center;"> 
          {{ form.submit(class="btn btn-dark") }}
        </div>
        </div>
      </form>
    </div>
</div>
    {% if current_user.is_authenticated %}
    {% for key,comment in comments.items() %}
    {%if not loop.first%}
        <p style="padding: 10px; margin: 10px; border:1px solid black; border-radius:5px;">
            {{comment}}
        </p>
    {%endif%}
    {% endfor %}
    {% endif %}
  
</div>
{% endblock %}