{% extends "base.html" %}



{% block title %}
    Login
{% endblock %}


{% block content %}
<div class="conteiner">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6" style="min-height: 100vh; margin: 0 auto 5% auto;">
            <div style="text-align: center;">
                <h2>Контакты</h2>
                <p>634050, Томск, 19 Гвардейской Дивизии, 17 <br />
                    Сибирский Физико-Технический Институт ТГУ <br />
                    (СФТИ ТГУ) <br />
                    Лаборатория Технических систем и средств досмотра <br />
                    <b>Тел./Факс.:</b> +7(3822)57-99-37 <br />
                    <b>E-mail:</b> 57-99-37@bk.ru <br />
                </p>
            </div>
            <div style="margin: 10px auto 0 auto; padding:5px; border:1px solid black; border-radius:10px; height: 70vh"> 
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A25cb42526c988db79cfaf0c96d22356f0ee245f6dfda3a4468f562cf468846b2&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>

    </div>
</div>



{% endblock %}
