{% extends "base.html" %}

{% block title %} Галерея {% endblock title%}

{% block active_gallery %} active {% endblock %}

{% block content%}

<div class="container-fluid gallery_container">
    <div class="row">
        {% for image in image_set %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10">
                <div class="gallery_image" data-title="{{image.Description}}">
                    <img src="{{url_for('static', filename=image.Image)}}" alt="">
                </div>

            </div>
        {% endfor %}
    </div>
</div>

<div style="min-height:40vh"></div>

{% endblock content%}