{% extends "base.html" %}

{% block title %}
  Главная
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="main" class="col-12 col-sm-12 col-md-7 col-lg-8">
            <h2>Лаборатория технических систем и средств досмотра</h2>

            <! -- слайдер с фото -->
            {% if slider_photos %}
            <div id="carousel" class="carousel slide col-lg-6 col-md-10 col-12" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for photo in slider_photos %}
                        <li data-target="#carousel" data-slide-to="{{photo.Index}}" 
                        {% if  photo.Index  == 0 %} class="active" {% endif %} ></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for photo in slider_photos %}
                        <div class="carousel-item {% if photo.Index == 0 %} active {% endif %}" >
                            <img src="{{url_for('static',filename=photo.Image)}}" class="d-block img-fluid mx-auto" alt="..." style="max-height: 500px;">
                            {% if current_user.is_authenticated %}
                            <div class="carousel-caption" >
                                <form action="" method="post" novalidate>
                                    <div class="form-group">
                                    {{ formDelete.csrf_token() }}
                                    {{ formDelete.imageIndex(value =  photo.Index) }}
                                    {{ formDelete.submitDelete(class="btn btn-outline-dark") }}
                                    </div>
                                </form>
                            </div>

                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}

            {% if current_user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                <div class="form-group col-10 col-sm-7 col-md-9 col-lg-6 col-xl-5" id="addSliderPhoto">
                    <h3>Добавить фото</h3>
                    {{ formSetImage.csrf_token() }}

                
                    {{formSetImage.image(class="form-control col-12")}}
                    <br />
                    {{formSetImage.index(class="col-3")}}
                    {{formSetImage.index.label(class="col-2")}}
                    {{formSetImage.submitUpload(class="btn btn-dark") }}
                </div>
            </form>
            {% endif %}
              <! -- Текст главной страницы (на мобильном экране скрыт и доступен по ссылке) -->
            <div id="content">
              
                {% include 'main_text.html' %}  
	
            </div> 
	<hr />
        </div>

        <!--новостная лента -->
        <div id="sidebar" class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <!-- структура новости -->
            <div class="container">
        
            <! -- ADD NEWS FORM -->
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('main.addnews') }}" method="POST" enctype="multipart/form-data" novalidate>
                <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12" id="addNewsForm">
                    <h3>Добавить новость</h3>
                    <div class="form-group">
                    {{ formAddNews.csrf_token() }}
                    {{ formAddNews.image.label }}
                    {{ formAddNews.image(class="form-control") }}
                    </div>
                    <div class="form-group">
                    {{ formAddNews.title.label }}
                    {{ formAddNews.title(class="form-control") }}
                    </div>
                    <div class="form-group">
                    {{ formAddNews.description.label }}
                    {{ formAddNews.description(class="form-control") }}
                    </div>
                    <div class="form-group">
                    {{ formAddNews.fulltext.label }}
                    {{ formAddNews.fulltext(class="form-control") }}
                    </div>
                    <br />
                    {{ formAddNews.submitAddNews(class="btn btn-dark") }}

                </div>
            </form>
            {% endif %}

            <div class="text-center" id="news_header">
                <span class="h2">Новости</span>
            </div>  
            {% for post in posts %}
                <div class="conteiner" style="margin: 0 auto;">
                {% include "_post.html" %}
            </div>
            {% endfor %}
            

            </div>
        </div>
    </div>
</div>
{% endblock %}
