<div>
    <h2>Лаборатория Технических Систем и Средств Досмотра</h2>
        <span>
            Лаборатория технических систем и средств досмотра создана в 2020 году. 
            На базе лаборатории проводятся исследования в области акредитации досмотровой техники. 
         
              Основные направления:
        </span>
    
    <ul>
        <li>
            Металлодетекторы;
        </li>
    
        <li>
            Химанализаторы;
        </li>
    
        <li>
           Интроскопы;
        </li>
    
        <li>
            Иная досмотровая техника. 
    </ul>
</div>
    
