<div>
        <span>
            Лаборатория технических систем и средств досмотра создана в 2020 году. 
            На базе лаборатории проводятся исследования в области акредитации досмотровой техники. 
         
              Основные направления:
        </span>
    
    <ul>
        <li>
            Металлодетекторы;
        </li>
    
        <li>
            Химанализаторы;
        </li>
    
        <li>
           Интроскопы;
        </li>
    
        <li>
            Иная досмотровая техника. 
    </ul>

    <hr />
    
    <div style="text-align: center; margin-top: 50px;">
        <h2>Контакты</h2>
        <p>634050, Томск, 19 Гвардейской Дивизии, 17 <br />
            Сибирский Физико-Технический Институт ТГУ <br />
            (СФТИ ТГУ) <br />
            Лаборатория Технических систем и средств досмотра <br />
            <b>Тел./Факс.:</b> +7(3822)57-99-37 <br />
            <b>E-mail:</b> 57-99-37@bk.ru <br />
        </p>
    </div>
</div>
    
