<div>
        <span>
            Лаборатория технических систем и средств досмотра создана в 2020 году. 
            На базе лаборатории проводятся исследования в области акредитации досмотровой техники. 
         
              Основные направления:
        </span>
    
    <ul> 
        <li>
            Металлодетекторы; Химанализаторы;
        </li>

        <li>
           Интроскопы; Иная досмотровая техника. 
        </li>
    </ul>
    <hr />
    <div>
    <p><b>Испытательная лаборатория технических систем и средств досмотра Национального исследовательского Томского государственного университета (далее – ИЛ ТССД)</b> оказывает услуги по проведению испытаний функциональных свойств технических систем и средств досмотра. </p>
    <p>Деятельность испытательной лаборатории осуществляется в соответствии с требованиями установленными положениями международного стандарта ГОСТ ISO/IEC 17025-2019 </p>
    и Приказа Минэкономразвития России от 26.10.2020 № 707 «Об утверждении критериев аккредитации и перечня документов, подтверждающих соответствие заявителя, аккредитованного лица критериям аккредитации» (далее – критерии аккредитации), и политики ТГУ в целом. </p>
    <p>Лаборатория обязана соблюдать критерии аккредитации и требования к аккредитованным лицам, несет ответственность за деятельность, осуществляемую во всех местах ее постоянного размещения, вне мест ее постоянного размещения, на временных или передвижных площадях и на объектах заказчика.</p>
    Свою деятельность ИЛ ТССД осуществляет в рамках законодательства Российской Федерации, на основании записи в реестре аккредитованных лиц, договоров с заказчиками и других разрешающих документов.</p>
    <p>Руководство ИЛ ТССД принимает обязательства по беспристрастности лабораторной деятельности.</p>
    <p>ИЛ ТССД гарантирует, что персонал лаборатории обладает необходимыми знаниями, образованием и компетентностью для выполнения лабораторной деятельности, за которую он несет ответственность.</p>
    <p>ИЛ ТССД честно и беспристрастно проводит процедуру испытаний. Данная процедура справедлива и одинакова для всех заказчиков.</p>
    <p>Любая информация, полученная в ходе проведения испытаний, считается конфиденциальной и не подлежит разглашению.</p>
    <p>При возникновении конфликта интересов, поступлении жалоб и апелляций ИЛ ТССД гарантирует беспристрастный и независимый подход к решению возникших разногласий и выполнению работ по их устранению.</p>
    <p>Исходя из политики в области качества руководство определяет цели и задачи в области качества деятельности ИЛ ТССД.</p>
    <p>Цели:</p>
        1. Удовлетворение требований заказчиков в части оказания высококачественных современных услуг по испытаниям и предоставление информации в максимально короткие сроки 
        2. Постоянное улучшение (совершенствование) СМК и ее неукоснительное исполнение в ИЛ ТССД.
    Основными задачами для реализации указанных целей являются:
    <ul>
        <li>достижение и поддержание высокого уровня организации и проведения испытаний в соответствии с правилами и методами испытаний, закрепленными в области аккредитации;</li>
        <li>предоставление заказчику объективной и достоверной информации по результатам испытаний и измерений в установленные сроки;</li>
        <li>обеспечение соблюдения установившейся профессиональной практики и сохранение высокого качества испытаний при обслуживании заказчиков;</li>
        <li>обеспечение соблюдения критериев аккредитации и требований к аккредитованным испытательным лабораториям;</li>
        <li>повышение квалификации сотрудников ИЛ ТССД путем организации внутреннего и внешнего обучения; </li>
        <li>реализация настоящей политики в области качества и создание среды, в которой все работники вовлекаются в достижение поставленной цели;</li>
        <li>обеспечение постоянного улучшения результативности СМК;</li>
        <li>совершенствование процедуры управления персоналом, контроль надлежащего исполнения должностных обязанностей;</li>
        <li>своевременное обновление (актуализацию) нормативных документов, методик (методов) выполнения измерений;</li>
        <li>функционирование системы менеджмента качества, изложенной в Руководстве по качеству;</li>
        <li>соблюдение процедур, гарантирующих беспристрастность, конфиденциальность и независимость.</li>
    </ul>
    <p>Для поддержания высокого профессионального уровня каждый сотрудник лаборатории, участвующий в проведении испытаний, должен ознакомиться с Руководством по качеству, постоянно изучать документы СМК, НД, подтверждать свой профессионализм на практике, использовать полученные знания и навыки в своей ежедневной деятельности, участвовать в совершенствовании СМК, внося предложения по ее улучшению и развитию и руководствоваться в своей деятельности установленной политикой в области качества. Каждый сотрудник несет личную ответственность за предоставление достоверных и качественных результатов испытаний.
    Ответственное и профессиональное отношение каждого сотрудника – необходимое условие слаженной работы коллектива и поддержания репутации испытательной лаборатории.</p>
    <p>Система управления рисками и возможностями, связанная с лабораторной деятельностью, направлена на: </p>
    <ul>
        <li>интеграцию во все элементы СМК ИЛ ТССД;</li>
        <li>ориентацию сотрудников на выявление и снижение рисков для достижения результативности СМК;</li>
        <li>достижения улучшения результатов;</li>
        <li>предотвращения неблагоприятных последствий;</li>
        <li>выявление и устранение рисков беспристрастности;</li>
        <li>повышения управляемости всех процессов СМК лаборатории.</li>
    </ul>
    </div>
    <hr />
    
    <div style="text-align: center; margin-top: 50px;">
        <h2>Контакты</h2>
        <p>634050, Томск, Федора Лыткина, 28, ст. 3 <br />
            Сибирский Физико-Технический Институт ТГУ <br />
            (СФТИ ТГУ) <br />
            Лаборатория Технических систем и средств досмотра <br />
            <b>Тел./Факс.:</b> +7(3822)57-99-37 <br />
            <b>E-mail:</b> 579937@bk.ru <br />
        </p>
    </div>
</div>
    
