{% extends "base.html" %}

{% block title %}
    Проекты
{% endblock %} 

{% block content %}
<div class="conteiner" style="min-height: 100vh;">
    <h2 style="text-align: center;"> Проекты </h2>
    <div class="row" style="margin: 10px auto;">
        <div class="col-12 col-sm-10 col-md-10 col-lg-8 col-xl-6" style="margin: 10px auto; ">
            {% if current_user.is_authenticated %}
          
            <div style="border:1px solid black; border-radius:10px; padding: 5px;">
            <form enctype="multipart/form-data" action="" method='post' novalidate >
                <div class="form-group">
                  {{ form.csrf_token() }}

                <div class="form-group">
                    {{ form.text.label }}
                    {% with messages = get_flashed_messages(category_filter=["error_ref"]) %}
                      {% for  message in messages %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>  
                      {% endfor %}
                    {% endwith %}
                    {{ form.text(class="form-control") }}
                  </div>

                  </div>
    
                <div class="form-group">
                <div style="text-align: center;"> 
                  {{ form.submit(class="btn btn-dark") }}
                </div>
                </div>
              </form>
            </div>

            {% endif %}

            {% for patent in patents %}
              <div style="text-align: justify; border-bottom:1px dashed black; padding: 10px 0;">
                {% if current_user.is_authenticated %}
                <div>
                  <form action="" method="POST"  style="display: inline-block;">
                  {{ formDelete.csrf_token() }}
                  {{ formDelete.Id(value = patent.id) }}
                  {{ formDelete.submitDelete(class="btn btn-dark") }}
                  </form>
                  <button type="button" class="btn btn-dark">
                    <a href="{{ url_for('main.editproject', id=patent.id) }}" style="text-decoration: none; color:white;">Редактировать</a>
                  </button>
                </div>
                {% endif %}
                  <div>
                    <span>{{loop.index}}. </span>  {{patent.Text}}
                  </div>
              </div>
            {% endfor %}
          </div>
    </div>
</div>
{% endblock %} 

