{% extends "base.html" %}

{% block title %} Главная {% endblock %}

{% block active_quality %} active {% endblock %}

{% block content %}
<div class="container-fluid">
      
    <div class="row">
        <div id="main" class="col-11 col-sm-10 col-md-8 col-lg-8 col-xl-6" style="margin-top: 20px; text-align: justify;">
            <h4 style="text-align: center;">
                <b>Политика в области качества <br />
                Испытательной лаборатории технических систем и средств досмотра</b>
            </h4>
            <p>
                Испытательная лаборатория технических систем и средств досмотра Национального
                исследовательского Томского государственного университета (далее – ИЛ ТССД) проводит
                сертификационные испытания технических средств досмотра для обеспечения транспортной
                безопасности. Деятельность испытательной лаборатории осуществляется в соответствии с
                требованиями, установленными положениями международного стандарта ГОСТ ISO/IEC 17025-
                2019 и Приказа Минэкономразвития России от 26.10.2020 № 707 «Об утверждении критериев
                аккредитации и перечня документов, подтверждающих соответствие заявителя,
                аккредитованного лица критериям аккредитации» (далее – критерии аккредитации),
                Постановления Правительства РФ от 26.09.2016 N 969 и политики ТГУ в целом.
            </p>
            <p>
                Свою деятельность ИЛ ТССД осуществляет в рамках законодательства Российской Федерации, 
                на основании договоров с заказчиками и других разрешающих документов.
            </p>
            <p>
                Лаборатория обязана соблюдать критерии аккредитации и требования к аккредитованным
                лицам, несет ответственность за деятельность, осуществляемую в месте ее постоянного
                размещения, вне мест ее постоянного размещения, на временных или передвижных площадях и
                на объектах заказчика.
            </p>
            <p>
                Руководство и персонал ИЛ ТССД принимает обязательства по беспристрастности
                лабораторной деятельности и гарантирует независимое и беспристрастное проведение
                испытаний для всех заказчиков.
            </p>
            <p>
                Любая информация, полученная в ходе проведения испытаний, считается
                конфиденциальной и не подлежит разглашению.
            </p>
            <p>
                Персонал ИЛ ТССД обладает необходимыми знаниями, образованием и компетентностью
                для выполнения лабораторной деятельности, за которую он несет ответственность. Каждый
                сотрудник несет личную ответственность за предоставление достоверных и качественных
                результатов испытаний, ознакомлен с Руководством по качеству, ежегодно проходит процедуру
                подтверждения компетентности посредством внутрилабораторного контроля и мониторинга со
                стороны руководства, принимает участие в совершенствовании СМК, вносит предложения по ее
                улучшению и развитию и руководствуется в своей деятельности установленной политикой в
                области качества.
            </p>
            <p>
                Система управления рисками и возможностями в ИЛ ТССД включает:
                <ul>
                    <li>интеграцию системы во все элементы СМК ИЛ ТССД;</li>
                    <li>ориентацию сотрудников на анализ возможных рисков, выявление и снижение рисков <br/>
                        для достижения результативности СМК;</li>
                    <li>достижение улучшения результатов по анализу рисков;</li>
                    <li>предотвращение неблагоприятных последствий;</li>
                    <li>выявление и устранение рисков беспристрастности;</li>
                    <li>повышение управляемости всех процессов СМК лаборатории.</li>
                  </ul>
            </p>
            



            <p>
                <b>Цели Политики ИЛ ТССД в области качества направлены на:</b>
                <ul>
                    <li>постоянное улучшение СМК для достижения максимальной результативности
                        поставленных целей;</li>
                    <li>постоянное улучшение качества оказываемых услуг и гарантирование
                        ответственности за результаты своей деятельности;</li>
                    <li>обеспечение достоверности, объективности результатов испытаний;</li>
                    <li>предотвращение потенциальных несоответствий, связанных с лабораторной
                        деятельностью;</li>
                    <li>поддержание репутации ИЛ на основе профессионализма и слаженной работы
                        коллектива.</li>
                </ul>

            </p>
            <p>
                <b>Основные задачи ИЛ ТССД включают:</b>
                <ul>
                
                    <li>соответствие требованиям ГОСТ ISO/IEC 17025-2019 и критериев аккредитации
                        лабораторий;</li>
                    <li>подтверждение компетентности ИЛ ТССД надзорным органом (Росаккредитацией)
                        в 2024 году;</li>
                    <li>получение удовлетворительных результатов в 2024 году в рамках
                        межлабораторных сравнительных испытаний, отличных от проверок квалификации;</li>
                    <li>получение удовлетворительных результатов внутрилабораторного контроля
                        согласно Плану-графику мероприятий по внутреннему контролю качества результатов на 2024
                        год;</li>
                    <li>реализация системы обеспечения достоверности результатов испытаний,
                        предусмотренной СМК ИЛ ТССД;</li>
                    <li>максимальная реализация планируемых улучшений на 2024 год;</li>
                    <li>поддержание в актуальном состоянии реестра рисков и возможностей.</li>
                </ul>
            </p>


            <p>
                Настоящая политика доступна каждому сотруднику ИЛ ТССД и находится в месте
                постоянного размещения ИЛ ТССД. Заказчики и другие заинтересованные лица могут
                ознакомиться с Политикой на официальном сайте ИЛ ТССД.
            </p>
            <p>
                Контакты для обратной связи от заказчика доступны:
            </p>
                <ul>
                    <li>в реестре аккредитованных лиц на сайте Россаккредитации;</li>
                    <li>на официальном сайте ФСБ;</li>
                    <li>на официальном сайте ИЛ ТССД;</li>
                    <li>в договорах с заказчиками и заявителями.</li>
                </ul>
            <p>
                Руководство лаборатории берет на себя ответственность за реализацию настоящей
                политики, создание и поддержание условий, необходимых для функционирования системы
                менеджмента качества лаборатории с целью я обеспечения высокого качества испытаний,
                непрерывное совершенствование системы менеджмента.
            </p>
            
            <img src="{{url_for('static', filename='images/krasnova.png')}}"  class="img-fluid" >
        </div>
    </div>
</div>

{% endblock %}
        
