{% extends "base.html" %}

{% block title %} Главная {% endblock %}

{% block active_quality %} active {% endblock %}

{% block content %}
<div class="container-fluid">
      
    <div class="row">
        <div id="main" class="col-11 col-sm-10 col-md-8 col-lg-8 col-xl-6" style="margin-top: 20px; text-align: justify;">
            <h4 style="text-align: center;">
                <b>Политика в области качества <br />
                Испытательной лаборатории технических систем и средств досмотра</b>
            </h4>
            <p>
                    Испытательная лаборатория технических систем и средств досмотра Национального исследовательского Томского государственного университета (далее – ИЛ ТССД) 
                    проводит сертификационные испытания технических средств досмотра для обеспечения транспортной безопасности. 
                    Деятельность испытательной лаборатории осуществляется в соответствии с требованиями, установленными положениями международного стандарта ГОСТ ISO/IEC 17025-2019 
                    и Приказа Минэкономразвития России от 26.10.2020 № 707 «Об утверждении критериев аккредитации и перечня документов, подтверждающих соответствие заявителя, 
                    аккредитованного лица критериям аккредитации» (далее – критерии аккредитации), Постановления Правительства РФ от 26.09.2016 N 969 и политики ТГУ в целом.
            </p>
            <p>
                Настоящая Политика направлена на обеспечение компетентности, беспристрастности, стабильности деятельности лаборатории, на обеспечение максимальной достоверности, 
                объективности результатов испытаний, проводимых ИЛ ТССД.
            </p>
            <p>
                Лаборатория обязана соблюдать критерии аккредитации и требования к аккредитованным лицам, несет ответственность за деятельность, 
                осуществляемую во всех местах ее постоянного размещения, вне мест ее постоянного размещения, на временных или передвижных площадях и на объектах заказчика.
            </p>
            <p>
                Свою деятельность ИЛ ТССД осуществляет в рамках законодательства Российской Федерации, на основании записи в реестре аккредитованных лиц, 
                договоров с заказчиками и других разрешающих документов.
            </p>
            <p>
                Руководство ИЛ ТССД принимает обязательства по беспристрастности лабораторной деятельности. 
            </p>
            <p>
                ИЛ ТССД гарантирует, что персонал лаборатории обладает необходимыми знаниями, образованием и компетентностью для выполнения лабораторной деятельности, 
                за которую он несет ответственность.
            </p>
            <p>
                ИЛ ТССД обязана честно и беспристрастно проводить процедуру испытаний. Данная процедура справедлива и одинакова для всех заказчиков.
            </p>
            <p>
                Любая информация, полученная в ходе проведения испытаний, считается конфиденциальной и не подлежит разглашению.
            </p>
            <p>
                При возникновении конфликта интересов, поступлении жалоб и апелляций ИЛ ТССД 
                гарантирует беспристрастный и независимый подход к решению возникших разногласий и выполнению работ по их устранению.
            </p>
            <p>
                <b>Политика в области качества ИЛ ТССД направлена на достижение следующих целей и ставит для этого следующие задачи:</b>
            </p>


            <table class="table table-bordered">
                <thead>
                  <tr style="text-align: center;">
                    <th scope="col">№ п/п</th>
                    <th scope="col">Цель</th>
                    <th scope="col">Задача</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Соответствие требованиям ГОСТ ISO/IEC 17025-2019 и критериев аккредитации лабораторий</td>
                    <td>Успешное прохождение процедуры подтверждения компетентности лаборатории в 2022 году</td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Обеспечение достоверности, объективности результатов испытаний:</td>
                    <td>Обеспечение участия лаборатории в МСИ в 2022 году с получением положительного результатов<hr />
                        Заключение договора на поставку нового комплекта муляжей в 2022 году<hr />
                        Закупка дублирующих СИ в 2022 году
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td> Обеспечение полноты и правильности проведения испытаний в соответствии с требованиями нормативных документов</td>
                    <td>Профильное обучение новых сотрудников в 2022 году</td>

                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td> Постоянное улучшение качества оказываемых услуг и гарантирование ответственности за результаты своей деятельности</td>
                    <td>Обеспечение отсутствия жалоб (претензий) в 2022 году<hr />
                        Поддержание в актуальном состоянии реестра рисков<hr />
                        Обеспечение повышения квалификации по риск-менеджменту не менее чем двум сотрудникам ИЛ ТССД в 2022 году
                    </td>
                  </tr>
                </tbody>
              </table>

               
            <p>
                Каждый сотрудник несет личную ответственность за предоставление достоверных и качественных результатов испытаний, 
                должен ознакомиться с Руководством по качеству, постоянно изучать документы СМК, НД, подтверждать свой профессионализм на практике, 
                использовать полученные знания и навыки при проведении испытаний, участвовать в совершенствовании СМК, 
                вносить предложения по ее улучшению и развитию и руководствоваться в своей деятельности установленной политикой в области качества.
            </p>
            <p>
                Получение и поддержание репутации испытательной лаборатории основано на ответственном и профессиональном 
                отношении каждого сотрудника к своей работе и слаженной работы коллектива.
            </p>
            <p>
                Система управления рисками и возможностями, связанная с лабораторной деятельностью, направлена на: 
            </p>
                <ul>
                    <li>интеграцию системы во все элементы СМК ИЛ ТССД;</li>
                    <li>ориентацию сотрудников на анализ возможных рисков, выявление и снижение рисков для достижения результативности СМК;</li>
                    <li>достижение улучшения результатов по анализу рисков;</li>
                    <li>предотвращение неблагоприятных последствий;</li>
                    <li>выявление и устранение рисков беспристрастности;</li>
                    <li>повышение управляемости всех процессов СМК лаборатории.</li>
                </ul>
            <p>
                Руководство лаборатории берет на себя ответственность за реализацию настоящей политики, 
                создание и поддержание условий, необходимых для функционирования системы менеджмента качества лаборатории 
                с целью обеспечения высокого качества испытаний, непрерывное совершенствование системы менеджмента. 
            </p>
            <p>
                Настоящая политика доступна каждому сотруднику ИЛ ТССД, заказчикам и заинтересованным лицам, размещена в открытом доступе на сайте ИЛ ТССД
            </p>
            <img src="{{url_for('static', filename='images/krasnova.png')}}"  class="img-fluid" >
        </div>
    </div>
</div>

{% endblock %}
        