{% extends "base.html" %}

{% block title %}
  Исследования
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <! -- список сотрудников -->
    <div id="main" class="col-9 col-sm-7 col-md-8 col-lg-8 text-center">
                
      <! -- Карточка исследования-->
      {% for research in researches %}
        {% include "research.html" %}         
                  
    </div>

    <! -- новостная лента (на маленьком экране скрыта) -->
    <div id="sidebar" class="col-lg-3 col-xl-4 d-none d-lg-block ">
      <div class="container">
        <div class="text-center" id="news_header">
          <span class="h2">Новости</span>
        </div>          
                
        {% for post in posts %}
          {% include _post.html%}
        {% endfor %}

      </div>
    </div>

  </div>
</div>

{% endblock %}