{% extends "base.html" %}

{% block title %}
  Исследования
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <! -- список сотрудников -->
    
   
    <div id="main" class="col-9 col-sm-7 col-md-8 col-lg-8 text-center" style="min-height: 100vh;">
      {% if current_user.is_authenticated %}
      <div class="conteiner">
        <div  class="row justify-content-center">
            <div id="addResearchForm" class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
              <h4 style="text-align: center;">Добавить исследование</h4>
              <form enctype="multipart/form-data" action="{{url_for('main.addresearch')}}" method='post' novalidate>
                <div class="form-group">
                  {{ formAddResearch.csrf_token() }}
                <div class="form-group">
                  {{ formAddResearch.title.label }}
                  {% with messages = get_flashed_messages(category_filter=["error_title"]) %}
                    {% for  message in messages %}
                      <div class="alert alert-danger" role="alert">
                        {{ message }}
                      </div>  
                    {% endfor %}
                  {% endwith %}
                  {{ formAddResearch.title(class="form-control") }}
                </div>
                <div class="form-group">
                  {{ formAddResearch.image.label }}
                  {% with messages = get_flashed_messages(category_filter=["error_image"]) %}
                  {% for  message in messages %}
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>  
                  {% endfor %}
                {% endwith %}
                  {{ formAddResearch.image(class="form-control") }}
                </div>
                <div class="form-group">
                  {{ formAddResearch.description.label }}
                  {% with messages = get_flashed_messages(category_filter=["error_description"]) %}
                  {% for  message in messages %}
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>  
                  {% endfor %}
                {% endwith %}
                  {{ formAddResearch.description(class="form-control") }}
                </div> 
                <div style="text-align: center;"> 
                  {{ formAddResearch.submit(class="btn btn-dark") }}
                </div>
                </div>
              </form>
            </div>
          </div>
      </div>
      {% endif %}
      <! -- Карточка исследования-->
      {% for research in researches %}
        {% include "_research.html" %}         
      {% endfor %}
    </div>

    <! -- новостная лента (на маленьком экране скрыта) -->
    <div id="sidebar" class="col-md-4 col-lg-4 col-xl-3 d-none d-md-block ">
      <div class="container">
        <div class="text-center" id="news_header">
          <span class="h2">Новости</span>
        </div>          
                
        {% for post in posts %}
          {% include '_post.html' %}
        {% endfor %}

      </div>
    </div>

  </div>
</div>

{% endblock %}