{% extends "base.html" %}

{% block title %} Сотрудники {% endblock %}

{% block active_staff %} active {% endblock %}

{% block content%}
<div class="container-fluid">
  <div class="row">

    <! -- список сотрудников -->
    <div id="main" class="col-10 col-sm-8 col-md-8 col-lg-8 text-center">      
      {% if current_user.is_authenticated %}
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" style="margin: 0 auto;">
        <form action="{{ url_for('main.addPerson') }}" method="POST" enctype="multipart/form-data" novalidate>
          {{ formPersonAdd.csrf_token() }}
          <div class="form-group" id="addPersonForm">
            <h3 style="text-align: center;">Добавить сотрудника</h3>
            {{ formPersonAdd.name.label }}
            {% with errors = get_flashed_messages(category_filter=["error_name"])%}
              {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
              {% endfor %}
            {% endwith %}
            {{ formPersonAdd.name(class="form-control") }}

            {{ formPersonAdd.secondName.label }}
            {% with errors = get_flashed_messages(category_filter=["error_secondname"])%}
            {% for error in errors %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endfor %}
          {% endwith %}
            {{ formPersonAdd.secondName(class="form-control") }}

            {{ formPersonAdd.middleName.label }}
            {% with errors = get_flashed_messages(category_filter=["error_middlename"])%}
            {% for error in errors %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endfor %}
          {% endwith %}
            {{ formPersonAdd.middleName(class="form-control") }}

            {{ formPersonAdd.position.label }}
            {% with errors = get_flashed_messages(category_filter=["error_position"]) %}
            {% for error in errors %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endfor %}
          {% endwith %}
            {{ formPersonAdd.position(class="form-control") }}

            {{ formPersonAdd.info.label }}
            {% with errors = get_flashed_messages(category_filter=["error_info"])%}
            {% for error in errors %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endfor %}
          {% endwith %}
            {{ formPersonAdd.info(class="form-control") }}

            {{ formPersonAdd.image.label }}
            {% with errors = get_flashed_messages(category_filter=["error_image"])%}
            {% for error in errors %}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endfor %}
          {% endwith %}
            {{ formPersonAdd.image(class="form-control") }}
            <br />
            <div style="text-align:center;">
            {{ formPersonAdd.submitAddPerson(class="btn btn-dark") }}
            </div>
          </div>

        </form>
      </div>
      {% endif %}

    <! --  Карточка сотрудника-->
      {% for person in staff %}
        {% include '_person.html'%}
      {% endfor %}
    </div>

    <! -- новостная лента (на маленьком экране скрыта) -->
    <div id="sidebar" class="col-lg-4 col-xl-3 d-none d-lg-block ">
      <div class="container">
            <div class="text-center" id="news_header">
                <span class="h2">Новости</span>
            </div>  
            {% for post in posts.items %}
                <div class="conteiner" style="margin: 0 auto;">
                {% include "_post.html" %}
            </div>
            {% endfor %}
            <div>
                <div style="float:left;">
                    {% if posts.has_prev %}
                        <a href="{{url_for('main.staff',page=posts.prev_num)}}" style="text-decoration:none;">&lt;- Назад</a>
                    {% endif %}
                </div>
                {% if posts.has_next %}
                    <div style="float:right;">
                        <a href="{{url_for('main.staff',page=posts.next_num)}}" style="text-decoration:none;">Далее -&gt;</a>
                    </div>
                {% endif %}
            </div>

      </div>
    </div>
  </div>
</div>
  
{% endblock %}